# Generating LaTeX code for result tables

A very simple notebook that we use to combined our X-ray measurement results into a table formatted for the paper.

## Import Statements

In [1]:
import pandas as pd
import numpy as np

## Read the sample file

In [2]:
samp = pd.read_csv('../../sample_files/init_group_info.csv')
samp = samp.rename(columns={'est_ra': 'ra', 'est_dec': 'dec'})
samp

                  name          ra        dec  redshift
0               25124A  243.629055  26.730240     0.186
1               25124B  243.504000  26.691000     0.186
2               25124C  243.541000  26.648000     0.186
3                44739  229.793620  28.331750     0.118
4              19670AB  150.226402  50.800565     0.134
5               19670A  150.256710  50.793942     0.134
6               19670B  150.214920  50.805014     0.134
7               19670C  150.065000  50.746000     0.134
8               19670D  150.168000  50.686000     0.134
9               12833A  129.496800  44.248700     0.145
10              12833B  129.445000  44.379000     0.145
11               44858  230.112000  28.887750     0.127
12    J215504.8-093520  328.769920  -9.588805     0.077
13  J215437.2-091532.4  328.655000  -9.259000     0.078
14               50433  157.758000  30.862000     0.136

## Read the nH file

We wish to include the exact nH value used in these analyses, which we wrote to disk for convenience:

In [3]:
nhs = pd.read_csv('../../sample_files/group_nhs.csv')
nhs

                  name            nH
0               25124A  3.140000e+20
1               25124B  3.180000e+20
2               25124C  3.030000e+20
3                44739  2.610000e+20
4              19670AB  1.140000e+20
5               19670A  1.140000e+20
6               19670B  1.140000e+20
7               19670C  1.260000e+20
8               19670D  1.140000e+20
9               12833A  2.640000e+20
10              12833B  2.660000e+20
11               44858  2.110000e+20
12    J215504.8-093520  4.020000e+20
13  J215437.2-091532.4  4.030000e+20
14               50433  1.670000e+20

## Read the result files

In [4]:
results = pd.read_csv('../../outputs/results/ltr_r500_pipeline_results.csv')
results_r2500 = pd.read_csv('../../outputs/results/ltr_r2500_pipeline_results.csv')

results_froztemp = pd.read_csv('../../outputs/results/ltr_r500_froztemp_pipeline_results.csv')
results_r2500_froztemp = pd.read_csv('../../outputs/results/ltr_r2500_froztemp_pipeline_results.csv')

# To make sure there aren't zero values in the table, I change the GM measurements from 10^13 solar masses
#  to 10^12 solar masses - I don't really like this given how universal group/cluster masses being in 
#  10^13 seems to be, but don't think there is a choice
results_gm = pd.read_csv("../../outputs/results/all_hot_gm_measurements.csv")
results_gm = results_gm[['name', 'gm500', 'gm500-', 'gm500+', 'gm2500', 'gm2500-', 'gm2500+']]
gm_twelve = results_gm[['gm500', 'gm500-', 'gm500+', 'gm2500', 'gm2500-', 'gm2500+']]*10
results_gm[['gm500', 'gm500-', 'gm500+', 'gm2500', 'gm2500-', 'gm2500+']] = gm_twelve

results_gm_froztemp = pd.read_csv("../../outputs/results/all_hot_gm_measurements.csv")
results_gm_froztemp = results_gm_froztemp[['name', 'gm_froztemp500', 'gm_froztemp500-', 'gm_froztemp500+', 
                                           'gm_froztemp2500', 'gm_froztemp2500-', 'gm_froztemp2500+']]
frgm_twelve = results_gm_froztemp[['gm_froztemp500', 'gm_froztemp500-', 'gm_froztemp500+', 
                                   'gm_froztemp2500', 'gm_froztemp2500-', 'gm_froztemp2500+']]*10
results_gm_froztemp[['gm_froztemp500', 'gm_froztemp500-', 'gm_froztemp500+', 
                     'gm_froztemp2500', 'gm_froztemp2500-', 'gm_froztemp2500+']] = frgm_twelve

## Combine the result dataframes

In [5]:
lat_r500_res = results.copy()

lat_r2500_res = results_r2500.copy()
del lat_r2500_res['redshift']
del lat_r2500_res['ra']
del lat_r2500_res['dec']

lat_r500_ft_res = results_froztemp.copy()

lat_r2500_ft_res = results_r2500_froztemp.copy()
del lat_r2500_ft_res['redshift']
del lat_r2500_ft_res['ra']
del lat_r2500_ft_res['dec']

comb = pd.merge(lat_r500_res, lat_r2500_res, on='name')
comb = pd.merge(comb, results_gm, how='outer')
comb = pd.merge(comb, nhs, how='outer', on='name')

comb_ft = pd.merge(lat_r500_ft_res, lat_r2500_ft_res, on='name')
comb_ft = pd.merge(comb_ft, results_gm_froztemp, how='outer')
comb_ft = pd.merge(comb_ft, nhs, how='outer', on='name')

In [6]:
comb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 16 non-null     object
 1   ra                   16 non-null     float64
 2   dec                  16 non-null     float64
 3   redshift             16 non-null     float64
 4   r500                 14 non-null     float64
 5   r500+-               14 non-null     float64
 6   Tx500                14 non-null     float64
 7   Tx500-               14 non-null     float64
 8   Tx500+               14 non-null     float64
 9   Lx500_0.5-2.0        14 non-null     float64
 10  Lx500_0.5-2.0-       14 non-null     float64
 11  Lx500_0.5-2.0+       14 non-null     float64
 12  Lx500_0.01-100.0     14 non-null     float64
 13  Lx500_0.01-100.0-    14 non-null     float64
 14  Lx500_0.01-100.0+    14 non-null     float64
 15  Tx500ce              14 non-null     float64
 16  Tx500ce-             14 non-null     float64
 17  Tx500ce+             14 non-null     float64
 18  Lx500ce_0.5-2.0      14 non-null     float64
 19  Lx500ce_0.5-2.0-     14 non-null     float64
 20  Lx500ce_0.5-2.0+     14 non-null     float64
 21  Lx500ce_0.01-100.0   14 non-null     float64
 22  Lx500ce_0.01-100.0-  14 non-null     float64
 23  Lx500ce_0.01-100.0+  14 non-null     float64
 24  r2500                12 non-null     float64
 25  r2500+-              12 non-null     float64
 26  Tx2500               12 non-null     float64
 27  Tx2500-              12 non-null     float64
 28  Tx2500+              12 non-null     float64
 29  Lx2500_0.5-2.0       12 non-null     float64
 30  Lx2500_0.5-2.0-      12 non-null     float64
 31  Lx2500_0.5-2.0+      12 non-null     float64
 32  Lx2500_0.01-100.0    12 non-null     float64
 33  Lx2500_0.01-100.0-   12 non-null     float64
 34  Lx2500_0.01-100.0+   12 non-null     float64
 35  gm500                14 non-null     float64
 36  gm500-               14 non-null     float64
 37  gm500+               14 non-null     float64
 38  gm2500               12 non-null     float64
 39  gm2500-              12 non-null     float64
 40  gm2500+              12 non-null     float64
 41  nH                   15 non-null     float64
dtypes: float64(41), object(1)
memory usage: 5.4+ KB

In [7]:
comb_ft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 43 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  16 non-null     object
 1   ra                    16 non-null     float64
 2   dec                   16 non-null     float64
 3   redshift              16 non-null     float64
 4   r500                  14 non-null     float64
 5   r500+-                14 non-null     float64
 6   froz_Tx500            14 non-null     float64
 7   froz_Tx500+-          14 non-null     float64
 8   Lx500_0.5-2.0         14 non-null     float64
 9   Lx500_0.5-2.0-        14 non-null     float64
 10  Lx500_0.5-2.0+        14 non-null     float64
 11  Lx500_0.01-100.0      14 non-null     float64
 12  Lx500_0.01-100.0-     14 non-null     float64
 13  Lx500_0.01-100.0+     14 non-null     float64
 14  Lx500ce_0.5-2.0       13 non-null     float64
 15  Lx500ce_0.5-2.0-      13 non-null     float64
 16  Lx500ce_0.5-2.0+      13 non-null     float64
 17  Lx500ce_0.01-100.0    13 non-null     float64
 18  Lx500ce_0.01-100.0-   13 non-null     float64
 19  Lx500ce_0.01-100.0+   13 non-null     float64
 20  r2500                 13 non-null     float64
 21  r2500+-               13 non-null     float64
 22  froz_Tx2500           13 non-null     float64
 23  froz_Tx2500+-         13 non-null     float64
 24  Lx2500_0.5-2.0        13 non-null     float64
 25  Lx2500_0.5-2.0-       13 non-null     float64
 26  Lx2500_0.5-2.0+       13 non-null     float64
 27  Lx2500_0.01-100.0     13 non-null     float64
 28  Lx2500_0.01-100.0-    13 non-null     float64
 29  Lx2500_0.01-100.0+    13 non-null     float64
 30  Lx2500ce_0.5-2.0      13 non-null     float64
 31  Lx2500ce_0.5-2.0-     13 non-null     float64
 32  Lx2500ce_0.5-2.0+     13 non-null     float64
 33  Lx2500ce_0.01-100.0   13 non-null     float64
 34  Lx2500ce_0.01-100.0-  13 non-null     float64
 35  Lx2500ce_0.01-100.0+  13 non-null     float64
 36  gm_froztemp500        14 non-null     float64
 37  gm_froztemp500-       14 non-null     float64
 38  gm_froztemp500+       14 non-null     float64
 39  gm_froztemp2500       13 non-null     float64
 40  gm_froztemp2500-      13 non-null     float64
 41  gm_froztemp2500+      13 non-null     float64
 42  nH                    15 non-null     float64
dtypes: float64(42), object(1)
memory usage: 5.5+ KB

In [8]:
comb

,name,ra,dec,redshift,r500,r500+-,Tx500,Tx500-,Tx500+,Lx500_0.5-2.0,...,Lx2500_0.01-100.0,Lx2500_0.01-100.0-,Lx2500_0.01-100.0+,gm500,gm500-,gm500+,gm2500,gm2500-,gm2500+,nH
0,12833A,129.496800,44.248700,0.145,484.161429,22.267250,1.394590,0.098024,0.113226,3.419655e+42,...,6.013372e+42,3.462115e+41,3.562511e+41,1.527,0.103,0.109,0.573,0.031,0.032,2.640000e+20
1,12833B,129.445000,44.379000,0.145,435.477156,26.364544,1.161630,0.135227,0.116765,2.511945e+42,...,NaN,NaN,NaN,0.386,0.048,0.064,NaN,NaN,NaN,2.660000e+20
2,19670A,150.256710,50.793942,0.134,462.177328,27.670531,1.252010,0.113311,0.139826,1.581114e+42,...,1.955903e+42,3.672504e+41,2.918419e+41,0.143,0.019,0.024,0.138,0.015,0.017,1.140000e+20
3,19670AB,150.226402,50.800565,0.134,527.139938,30.952352,1.978950,0.341111,0.660766,3.495482e+42,...,6.054734e+42,3.400940e+41,4.140629e+41,0.986,0.067,0.071,0.597,0.048,0.049,1.140000e+20
4,19670B,150.214920,50.805014,0.134,591.610814,44.926843,1.907300,0.243713,0.425694,4.533795e+42,...,7.719305e+42,5.850740e+41,5.725601e+41,0.458,0.030,0.032,0.419,0.021,0.021,1.140000e+20
5,19670C,150.065000,50.746000,0.134,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.260000e+20
6,19670D,150.168000,50.686000,0.134,359.762893,58.758058,0.326002,0.070427,0.247115,7.776962e+41,...,5.028950e+42,8.245194e+41,1.005192e+42,0.886,0.122,0.136,0.779,0.101,0.102,1.140000e+20
7,25124A,243.629055,26.730240,0.186,867.647767,39.128436,3.817000,0.287230,0.326195,7.396831e+43,...,1.557472e+44,6.391164e+42,5.653323e+42,26.943,1.392,1.378,9.038,0.464,0.447,3.140000e+20
8,25124B,243.504000,26.691000,0.186,665.433860,93.790303,2.121080,0.453657,1.097385,4.858143e+42,...,9.572086e+42,9.907068e+41,9.034255e+41,0.715,0.087,0.089,0.566,0.054,0.058,3.180000e+20
9,25124C,243.541000,26.648000,0.186,504.349762,26.563232,1.505450,0.118645,0.157002,4.980125e+42,...,7.990368e+42,7.651462e+41,1.037325e+42,2.309,0.222,0.236,0.634,0.100,0.113,3.030000e+20
10,44739,229.793620,28.331750,0.118,426.978169,22.844914,1.024810,0.066587,0.081072,2.328422e+42,...,1.678464e+42,1.781575e+41,1.921459e+41,0.050,0.009,0.015,0.049,0.008,0.011,2.610000e+20
11,44858,230.112000,28.887750,0.127,627.464073,25.622913,2.019860,0.121865,0.140519,2.202305e+43,...,3.874151e+43,1.282503e+42,1.365023e+42,1.960,0.070,0.071,1.373,0.052,0.051,2.110000e+20
12,50433,157.758000,30.862000,0.136,468.356980,22.476758,1.262420,0.078586,0.088334,2.764463e+42,...,4.500083e+42,3.646457e+41,4.092444e+41,3.564,0.308,0.340,0.760,0.058,0.062,1.670000e+20
13,J083829.2+441904.8,129.622000,44.318000,0.198,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,J215437.2-091532.4,328.655000,-9.259000,0.078,393.970353,18.283530,0.350344,0.021447,0.024195,4.768932e+40,...,4.981166e+41,8.803647e+40,9.243184e+40,1.416,0.117,0.123,0.298,0.023,0.023,4.030000e+20
15,J215504.8-093520,328.769920,-9.588805,0.077,581.016969,20.416613,1.727820,0.077037,0.089383,7.789182e+42,...,NaN,NaN,NaN,6.734,0.408,0.423,NaN,NaN,NaN,4.020000e+20

## Generating the LaTeX code

In [9]:
lines = ""
for row_ind, row in samp.iterrows():
    rel_name = row['name']
    rel_res = comb[comb['name'] == rel_name].iloc[0]
    rel_ft_res = comb_ft[comb_ft['name'] == rel_name].iloc[0]
    
    if rel_name == 'J083829.2+441904.8':
        rel_name = '\\shortnewrbsgrp{}'
#         print(rel_ft_res)
    elif rel_name == 'J215504.8-093520':
        rel_name = '\\shortphlgroup{}'
    elif rel_name == 'J215437.2-091532.4':
        rel_name = '\\shortnrthphlgroup{}'
    
    res_line = "{n} & {nh} &".format(n=rel_name, nh=str(rel_res['nH'])[:4])
    
    rad_temp = r" ${r}{{\pm}}{re}$ &"
    if not np.isnan(rel_res['r2500']):
        res_line += rad_temp.format(r=rel_res['r2500'].astype(int), re=rel_res['r2500+-'].astype(int))
    else:
        res_line += " - &"
        
    if not np.isnan(rel_res['r500']):
        res_line += rad_temp.format(r=rel_res['r500'].astype(int), re=rel_res['r500+-'].astype(int))
    else:
        res_line += " - &"
    
    # This isn't elegant or sophisticated, but I cannot be bothered to write something more general
    cols = [['Tx2500', 'Tx2500-', 'Tx2500+'], ['Tx500', 'Tx500-', 'Tx500+'], 
            ['Lx2500_0.5-2.0', 'Lx2500_0.5-2.0-', 'Lx2500_0.5-2.0+'], 
            ['Lx500_0.5-2.0', 'Lx500_0.5-2.0-', 'Lx500_0.5-2.0+'], 
            ['Lx500ce_0.5-2.0', 'Lx500ce_0.5-2.0-', 'Lx500ce_0.5-2.0+'], 
            ['gm2500', 'gm2500-', 'gm2500+'],
            ['gm500', 'gm500-', 'gm500+']]
    
    col_temp = r" ${v}_{{-{me}}}^{{+{pe}}}$ &"
    for col_set in cols:
        rel_val = rel_res[col_set].values
        
        if np.isnan(rel_val[0]):
            res_line += " - &"
            continue
        
        if col_set[0][0] == 'L':
            rel_val = rel_val / 1e+43
            
        res_line += col_temp.format(v=rel_val[0].round(2), 
                                    me=rel_val[1].round(2), 
                                    pe=rel_val[2].round(2))
        
    res_ft_line = " & &"
    
    if not np.isnan(rel_ft_res['r2500']):
        res_ft_line += rad_temp.format(r=rel_ft_res['r2500'].astype(int), re=rel_ft_res['r2500+-'].astype(int))
    else:
        res_ft_line += " - &"
        
    if not np.isnan(rel_ft_res['r500']):
        res_ft_line += rad_temp.format(r=rel_ft_res['r500'].astype(int), re=rel_ft_res['r500+-'].astype(int))
    else:
        res_ft_line += " - &"
    
    # This isn't elegant or sophisticated, but I cannot be bothered to write something more general
    cols = [['froz_Tx2500', 'froz_Tx2500+-'], ['froz_Tx500', 'froz_Tx500+-'], 
            ['Lx2500_0.5-2.0', 'Lx2500_0.5-2.0-', 'Lx2500_0.5-2.0+'], 
            ['Lx500_0.5-2.0', 'Lx500_0.5-2.0-', 'Lx500_0.5-2.0+'], 
            ['Lx500ce_0.5-2.0', 'Lx500ce_0.5-2.0-', 'Lx500ce_0.5-2.0+'],
            ['gm_froztemp2500', 'gm_froztemp2500-', 'gm_froztemp2500+'],
            ['gm_froztemp500', 'gm_froztemp500-', 'gm_froztemp500+']]
    for col_set in cols:
        rel_val = rel_ft_res[col_set].values
        
        if np.isnan(rel_val[0]):
            res_ft_line += " - &"
            continue
        
        if col_set[0][0] == 'L':
            rel_val = rel_val / 1e+43
        
        if len(col_set) == 3:
            res_ft_line += col_temp.format(v=rel_val[0].round(2), 
                                           me=rel_val[1].round(2), 
                                           pe=rel_val[2].round(2))
        elif len(col_set) == 2:
            res_ft_line += rad_temp.format(r=rel_val[0].round(2), 
                                           re=rel_val[1].round(2))

    # Bodging the gas mass stuff until I move this to another notebook
#     res_line += ' - & -'
#     res_ft_line += ' - & -'
    
    # Adding the end of line characters
    res_line += '\\\ \n'
    res_ft_line += '\\\[2mm]\n%\n'
    
    lines += res_line
    lines += res_ft_line
    
print(lines)

25124A & 3.14 & $365{\pm}12$ & $867{\pm}39$ & $3.43_{-0.2}^{+0.22}$ & $3.82_{-0.29}^{+0.33}$ & $5.68_{-0.09}^{+0.07}$ & $7.4_{-0.14}^{+0.14}$ & $4.66_{-0.15}^{+0.11}$ & $9.04_{-0.46}^{+0.45}$ & $26.94_{-1.39}^{+1.38}$ &\\
 & & $406{\pm}6$ & $872{\pm}15$ & $4.19{\pm}0.09$ & $3.88{\pm}0.08$ & $5.91_{-0.09}^{+0.09}$ & $7.4_{-0.13}^{+0.14}$ & $4.66_{-0.12}^{+0.16}$ & $10.5_{-0.22}^{+0.22}$ & $27.1_{-0.56}^{+0.56}$ &\\[2mm]
%
25124B & 3.18 & $295{\pm}21$ & $665{\pm}93$ & $2.44_{-0.31}^{+0.5}$ & $2.12_{-0.45}^{+1.1}$ & $0.4_{-0.02}^{+0.04}$ & $0.49_{-0.05}^{+0.08}$ & $0.38_{-0.06}^{+0.08}$ & $0.57_{-0.05}^{+0.06}$ & $0.72_{-0.09}^{+0.09}$ &\\
 & & $260{\pm}9$ & $532{\pm}22$ & $1.9{\pm}0.1$ & $1.64{\pm}0.09$ & $0.34_{-0.02}^{+0.02}$ & $0.42_{-0.04}^{+0.05}$ & $0.35_{-0.05}^{+0.04}$ & $0.52_{-0.04}^{+0.05}$ & $0.7_{-0.08}^{+0.08}$ &\\[2mm]
%
25124C & 3.03 & $277{\pm}17$ & $504{\pm}26$ & $2.13_{-0.23}^{+0.33}$ & $1.51_{-0.12}^{+0.16}$ & $0.35_{-0.03}^{+0.02}$ & $0.5_{-0.04}^{+0.06}$ & $0.47_{-0.04}^{+0.05}$ & $0.63_{-0.1}^{+0.11}$ & $2.31_{-0.22}^{+0.24}$ &\\
 & & $253{\pm}9$ & $572{\pm}20$ & $1.8{\pm}0.09$ & $1.88{\pm}0.08$ & $0.27_{-0.02}^{+0.02}$ & $0.67_{-0.05}^{+0.06}$ & $0.63_{-0.05}^{+0.04}$ & $0.51_{-0.05}^{+0.05}$ & $2.83_{-0.2}^{+0.22}$ &\\[2mm]
%
44739 & 2.61 & $194{\pm}10$ & $426{\pm}22$ & $1.04_{-0.1}^{+0.09}$ & $1.02_{-0.07}^{+0.08}$ & $0.1_{-0.01}^{+0.01}$ & $0.23_{-0.02}^{+0.03}$ & $0.19_{-0.02}^{+0.03}$ & $0.05_{-0.01}^{+0.01}$ & $0.05_{-0.01}^{+0.02}$ &\\
 & & $248{\pm}10$ & $558{\pm}22$ & $1.64{\pm}0.09$ & $1.67{\pm}0.09$ & $0.17_{-0.01}^{+0.01}$ & $0.4_{-0.03}^{+0.04}$ & $0.35_{-0.04}^{+0.03}$ & $0.05_{-0.01}^{+0.01}$ & $0.05_{-0.01}^{+0.02}$ &\\[2mm]
%
19670AB & 1.14 & $268{\pm}14$ & $527{\pm}30$ & $1.96_{-0.19}^{+0.25}$ & $1.98_{-0.34}^{+0.66}$ & $0.27_{-0.01}^{+0.02}$ & $0.35_{-0.04}^{+0.05}$ & $0.3_{-0.03}^{+0.04}$ & $0.6_{-0.05}^{+0.05}$ & $0.99_{-0.07}^{+0.07}$ &\\
 & & $260{\pm}9$ & $532{\pm}23$ & $1.81{\pm}0.09$ & $1.56{\pm}0.09$ & $0.26_{-0.02}^{+0.02}$ & $0.33_{-0.03}^{+0.04}$ & $0.29_{-0.04}^{+0.03}$ & $0.58_{-0.04}^{+0.04}$ & $0.99_{-0.07}^{+0.07}$ &\\[2mm]
%
19670A & 1.14 & $226{\pm}20$ & $462{\pm}27$ & $1.34_{-0.2}^{+0.31}$ & $1.25_{-0.11}^{+0.14}$ & $0.1_{-0.01}^{+0.02}$ & $0.16_{-0.02}^{+0.03}$ & $0.12_{-0.04}^{+0.04}$ & $0.14_{-0.02}^{+0.02}$ & $0.14_{-0.02}^{+0.02}$ &\\
 & & $226{\pm}10$ & $467{\pm}26$ & $1.41{\pm}0.09$ & $1.25{\pm}0.09$ & $0.1_{-0.01}^{+0.01}$ & $0.16_{-0.02}^{+0.03}$ & $0.12_{-0.03}^{+0.03}$ & $0.14_{-0.02}^{+0.02}$ & $0.14_{-0.02}^{+0.02}$ &\\[2mm]
%
19670B & 1.14 & $291{\pm}18$ & $591{\pm}44$ & $2.03_{-0.19}^{+0.28}$ & $1.91_{-0.24}^{+0.43}$ & $0.34_{-0.01}^{+0.02}$ & $0.45_{-0.03}^{+0.06}$ & $0.35_{-0.03}^{+0.06}$ & $0.42_{-0.02}^{+0.02}$ & $0.46_{-0.03}^{+0.03}$ &\\
 & & $265{\pm}9$ & $562{\pm}21$ & $1.87{\pm}0.09$ & $1.73{\pm}0.08$ & $0.29_{-0.02}^{+0.02}$ & $0.47_{-0.03}^{+0.04}$ & $0.38_{-0.04}^{+0.03}$ & $0.41_{-0.02}^{+0.02}$ & $0.46_{-0.03}^{+0.03}$ &\\[2mm]
%
19670C & 1.26 & - & - & - & - & - & - & - & - & - &\\
 & & - & - & - & - & - & - & - & - & - &\\[2mm]
%
19670D & 1.14 & $297{\pm}35$ & $359{\pm}58$ & $2.66_{-0.63}^{+1.44}$ & $0.33_{-0.07}^{+0.25}$ & $0.2_{-0.02}^{+0.03}$ & $0.08_{-0.04}^{+0.01}$ & $0.07_{-0.05}^{+0.02}$ & $0.78_{-0.1}^{+0.1}$ & $0.89_{-0.12}^{+0.14}$ &\\
 & & $248{\pm}10$ & $476{\pm}26$ & $1.66{\pm}0.1$ & $1.31{\pm}0.1$ & $0.19_{-0.02}^{+0.02}$ & $0.19_{-0.03}^{+0.04}$ & $0.13_{-0.03}^{+0.03}$ & $0.65_{-0.05}^{+0.05}$ & $1.02_{-0.13}^{+0.16}$ &\\[2mm]
%
12833A & 2.64 & $225{\pm}8$ & $484{\pm}22$ & $1.41_{-0.06}^{+0.07}$ & $1.39_{-0.1}^{+0.11}$ & $0.3_{-0.02}^{+0.02}$ & $0.34_{-0.04}^{+0.03}$ & $0.22_{-0.04}^{+0.03}$ & $0.57_{-0.03}^{+0.03}$ & $1.53_{-0.1}^{+0.11}$ &\\
 & & $270{\pm}9$ & $556{\pm}21$ & $1.96{\pm}0.09$ & $1.7{\pm}0.09$ & $0.35_{-0.02}^{+0.02}$ & $0.45_{-0.03}^{+0.05}$ & $0.31_{-0.04}^{+0.03}$ & $0.73_{-0.04}^{+0.04}$ & $1.81_{-0.12}^{+0.12}$ &\\[2mm]
%
12833B & 2.66 & - & $435{\pm}26$ & - & $1.16_{-0.14}^{+0.12}$ & - & $0.25_{-0.03}^{+0.03}$ & $0.14_{-0.04}^{+0.03}$ & - & $0.39_{-0.05}^{+0.06}$ &\\
 & & - & $511{\pm}23$ & - & $1.37{\pm}0.1$ & - & $0.22_{-0.04}^{+0.04}$ & $0.08_{-0.04}^{+0.04}$ & - & $0.39_{-0.05}^{+0.07}$ &\\[2mm]
%
44858 & 2.11 & $306{\pm}11$ & $627{\pm}25$ & $2.38_{-0.14}^{+0.18}$ & $2.02_{-0.12}^{+0.14}$ & $1.63_{-0.05}^{+0.07}$ & $2.2_{-0.11}^{+0.1}$ & $1.59_{-0.06}^{+0.12}$ & $1.37_{-0.05}^{+0.05}$ & $1.96_{-0.07}^{+0.07}$ &\\
 & & $353{\pm}7$ & $763{\pm}17$ & $3.11{\pm}0.09$ & $2.91{\pm}0.08$ & $1.79_{-0.06}^{+0.06}$ & $2.58_{-0.11}^{+0.14}$ & $1.8_{-0.11}^{+0.1}$ & $1.54_{-0.04}^{+0.04}$ & $2.03_{-0.08}^{+0.08}$ &\\[2mm]
%
\shortphlgroup{} & 4.02 & - & $581{\pm}20$ & - & $1.73_{-0.08}^{+0.09}$ & - & $0.78_{-0.03}^{+0.05}$ & $0.49_{-0.04}^{+0.04}$ & - & $6.73_{-0.41}^{+0.42}$ &\\
 & & $320{\pm}8$ & $650{\pm}20$ & $2.49{\pm}0.1$ & $2.1{\pm}0.08$ & $0.73_{-0.03}^{+0.02}$ & $0.81_{-0.03}^{+0.04}$ & $0.5_{-0.05}^{+0.04}$ & $2.36_{-0.11}^{+0.11}$ & $8.2_{-0.44}^{+0.45}$ &\\[2mm]
%
\shortnrthphlgroup{} & 4.03 & $168{\pm}6$ & $393{\pm}18$ & $0.75_{-0.02}^{+0.04}$ & $0.35_{-0.02}^{+0.02}$ & $0.03_{-0.01}^{+0.01}$ & $0.0_{-0.0}^{+5.22}$ & $1.04_{-0.05}^{+0.05}$ & $0.3_{-0.02}^{+0.02}$ & $1.42_{-0.12}^{+0.12}$ &\\
 & & $201{\pm}12$ & $394{\pm}25$ & $1.09{\pm}0.11$ & $0.88{\pm}0.08$ & $0.04_{-0.01}^{+0.01}$ & $0.0_{-0.0}^{+0.01}$ & - & $0.42_{-0.05}^{+0.05}$ & $1.42_{-0.17}^{+0.18}$ &\\[2mm]
%
50433 & 1.67 & $206{\pm}8$ & $468{\pm}22$ & $1.2_{-0.06}^{+0.08}$ & $1.26_{-0.08}^{+0.09}$ & $0.24_{-0.02}^{+0.02}$ & $0.28_{-0.03}^{+0.04}$ & $0.21_{-0.03}^{+0.05}$ & $0.76_{-0.06}^{+0.06}$ & $3.56_{-0.31}^{+0.34}$ &\\
 & & $262{\pm}9$ & $515{\pm}25$ & $1.83{\pm}0.1$ & $1.46{\pm}0.1$ & $0.27_{-0.02}^{+0.02}$ & $0.27_{-0.04}^{+0.04}$ & $0.18_{-0.05}^{+0.05}$ & $1.19_{-0.08}^{+0.09}$ & $4.28_{-0.4}^{+0.4}$ &\\[2mm]
%

<>:93: SyntaxWarning: invalid escape sequence '\ '
<>:94: SyntaxWarning: invalid escape sequence '\['
<>:93: SyntaxWarning: invalid escape sequence '\ '
<>:94: SyntaxWarning: invalid escape sequence '\['
/tmp/local/48231865/ipykernel_478203/81046806.py:93: SyntaxWarning: invalid escape sequence '\ '
  res_line += '\\\ \n'
/tmp/local/48231865/ipykernel_478203/81046806.py:94: SyntaxWarning: invalid escape sequence '\['
  res_ft_line += '\\\[2mm]\n%\n'